{include file="default/menu.html"}
	<div class="container">
		<div class="well">
			<h1>{$lang.viewticketlist}</h1>
			<form method="post" id="emailauth">
				<div class="form-group">
					<label for="email">{$lang.emailAdress} :</label>
					<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
					<input type="email" class="form-control" name="email" required="true" />
				</div>
				<div class="form-group">
					<label for="password">{$lang.codeMail} :</label>
					<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
					<input type="password" class="form-control" name="password" required="true" />
				</div>
				{if isset($siteconfig) && $siteconfig.recaptcha eq "e"}
				<div class="form-group">
					<label for="captcha">{$lang.captcha} :</label>
					<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
					<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={$siteconfig.recaptcha_key}"></script>
		        	<noscript>
		            	<iframe src="http://www.google.com/recaptcha/api/noscript?k={$siteconfig.recaptcha_key}" height="300" width="500" frameborder="0"></iframe><br>
		             	<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
		            	<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
		        	</noscript>
				</div>
				{/if}
				<input type="submit" class="btn btn-lg btn-block btn-info" value="{$lang.signin}" />
			</form>
		</div>
	</div>
{include file="default/footer.html"}