{include file="default/menu.html"}
<div class="container">
	{if isset($erreur)}
		{if $erreur eq 'noticket'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.youDontHaveOpenTicket}</div>
			<a href="./resolved.php" class="btn btn-success btn-block">{$lang.viewResolveTicket}</a>
		{elseif $erreur eq 'noticketresolved'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.youDontHaveResolvedTicket}</div>
			<a href="./view.php" class="btn btn-success btn-block">{$lang.viewOpenTicket}</a>
		{elseif $erreur eq 'emptyid'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.missingID}</div>
		{elseif $erreur eq 'idnotnumeric'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.IDNotNumeric}</div>
		{elseif $erreur eq 'ticketnotfound'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.ticketNotFound}</div>
		{elseif $erreur eq 'notautor'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.youCantViewThisTicket}</div>
		{elseif $erreur eq 'notfaq'}
			<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.noTicketOnFAQ}</div>
		{/if}
	{else}
		<div class="alert alert-danger"><b>{$lang.error} :</b> {$lang.errorJohnDoe}</div>
	{/if}
</div>
{include file="default/footer.html"}