{include file="default/menu.html"}
<div class="container">
	<div class="well"><h1>{$lang.FAQtext}</h1></div>
	<div class="panel-group" id="accordion">
	{foreach from=$listfa item=fa}
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{$fa.id}">
			<h4 class="panel-title">
				{$fa.sujet}
			</h4>
		</div>
		<div id="{$fa.id}" class="panel-collapse collapse">
			<div class="panel-body">
				<em><u>{$lang.posedBy} {$fa.auteur} {$lang.on} {$fa.date}</u></em><br />
				<div class="well">
					{$fa.contenu}
				</div><br /><br />
				{$lang.responses} :<br />
				{foreach from=$listcom item=com}
					{if $com.tid eq $fa.id && $com.masked neq '1'}
					<div class="well">
						<em><u>{$ang.responseTo} {$com.auteur} {$lang.on} {$com.date}</u></em><br />
						{$com.contenu}
					</div>
					{/if}
				{/foreach}
			</div>
		</div>
	</div>
	{/foreach}
	</div>
</div>
{include file="default/footer.html"}