	<footer class="footer">
		<div class="container">
			<div class="text-center">
				<a href="http://supportme.dzv.me" target="_blank">Support Me</a> {$lang.createBy} <a href="http://lroffic.alwaysdata.net" target="_blank"> LRoffic</a>, {$lang.designBy} <a href="http://bootswatch.com" target="_blank">Bootswatch</a>
			</div>
			<div class="pull-right">
				<form method="post" id="lang" class="form-inline">
					<div class="form-group">
						<label>{$lang.lang} :</label>
						<select name="lang">
							<option value="{$sitelang}">{$lang.name}</option>
							{foreach from=$langs item=ls}
								{if $ls.name neq {$lang.name}}
									<option value="{$ls.filename}">{$ls.name}</option>
								{/if}
							{/foreach}
						</select>
					</div>
					<input type="submit" value="Ok">
				</form>
			</div>
		</div>
	</footer>
	</body>
</html>