{include file="default/menu.html"}
	{if $siteconfig.registration eq 'none'}
		{include file="default/home.html"}
	{elseif $siteconfig.registration eq 'force'}
		{if isset($isconnect) && $isconnect eq 'false' || empty($isconnect)}
			<div class="container">
				<div class="well well-lg">
					<p>Bienvenu sur le support de {$sitename},<br /> pour pouvoir contacter le support veuillez vous connectez ou vous inscrire !</p>
				</div>
				<div class="col-md-6">
					<div class="well"  id="groupinsc">
						<h2><u>Inscription : </u></h2>
						<form method="post" id="inscription">
							<div class="form-group">
								<label for="email">Adresse Mail :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<input type="email" class="form-control" name="email" required="true" />
							</div>
							<div class="form-group">
								<label for="pseudo">Nom ou Pseudo :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<input type="text" class="form-control" name="pseudo" required="true" />
							</div>
							<div class="form-group">
								<label for="password">Mot de passe :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<input type="password" class="form-control" name="password" required="true" />
							</div>
							<div class="form-group">
								<label for="verifpass">Retapez le mot de passe :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<input type="password" class="form-control" name="verifpass" required="true" />
							</div>
							{if isset($siteconfig) && $siteconfig.recaptcha eq "e"}
							<div class="form-group">
								<label for="captcha">Captcha :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={$siteconfig.recaptcha_key}"></script>
					        	<noscript>
					            	<iframe src="http://www.google.com/recaptcha/api/noscript?k={$siteconfig.recaptcha_key}" height="300" width="500" frameborder="0"></iframe><br>
					             	<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
					            	<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
					        	</noscript>
							</div>
							{/if}
							<input type="submit" class="btn btn-lg btn-block btn-primary" value="S'inscrire" />
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="well" id="groupconnex">
						<h2><u>Connexion :</u></h2>
						<form method="post" id="connexion">
							<div class="form-group">
								<label for="pseudo">Nom, Pseudo ou adresse mail :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<input type="text" class="form-control" name="pseudo" required="true" />
							</div>
							<div class="form-group">
								<label for="password">Mot de passe :</label>
								<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
								<input type="password" class="form-control" name="password" required="true" />
							</div>
							{if isset($siteconfig) && $siteconfig.cookie eq '1'}
							<div class="form-group">
								<input type="checkbox" name="remember" checked="true" /> Se souvenir de moi
							</div>
							{/if}
							<input type="submit" class="btn btn-lg btn-block btn-info" value="Connexion" />
						</form>
					</div>
				</div>
			</div>
		{elseif isset($isconnect) && $isconnect eq 'true'}
			{include file="default/home.html"}
		{/if}
	{/if}
{include file="default/footer.html"}