<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{if !empty($page)}{$page}{/if} {if !empty($sitename)}{if !empty($page)}-{/if} {$sitename}{/if}</title>

		<link rel="icon" href="./templates/default/img/Supportme.png" />

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="./templates/default/css/style.css">
		<link rel="stylesheet" type="text/css" href="./templates/default/css/design.css">

		<!--JavaScript-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="./templates/default/js/bootstrap.js"></script>
		<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
		<script type="text/javascript" src="./templates/default/js/javascript.js"></script>
	</head>

	<body>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		    	<div class="container">
			        <div clas="col-md-offset-2">
			          <div class="navbar-header">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="./index.php">{if isset($sitename)}{$sitename}{else}Support{/if}</a>
			          </div>
			        </div>
			        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          			<ul class="nav navbar-nav">
	            			<li {if empty($page)}class="active"{/if}><a href="./index.php"><i class="glyphicon glyphicon-home"></i> {$lang.home}</a></li>
	            			{if isset($isconnect) && $isconnect eq 'true'}
	            				{if isset($nbticket) && $nbticket > 0}
	            					<li {if isset($page) && $page eq 'Liste des tickets'}class="active"{/if}>
	            						<a href="./view.php">
	            							<i class="glyphicon glyphicon-comment"></i> {$lang.ticket} 
	            							<span class="label label-danger">{$nbticket}</span>
	            						</a>
	            					</li>
	            				{/if}
	            			{/if}
	            			{if $siteconfig.faq eq 'e'  && $perm.viewfaq eq '1'}
								{if $nbfaq > '0'}
	            					<li {if isset($page) && $page eq "FAQ's"}class="active"{/if}>
	            						<a href="./faq.php">
	            							<i class="glyphicon glyphicon-info-sign"></i> {$lang.faq}
	            						</a>
	            					</li>
	            				{/if}
	            			{/if}
	            		</ul>
	            		<ul class="nav navbar-nav navbar-right">
	            			{if $perm.viewLinkAdmin eq '1'}
	            				<li><a href="./admin/"><i class="glyphicon glyphicon-cog"></i> {$lang.admin}</a></li>
	            			{/if}
	            			{if isset($isconnect) && $isconnect eq 'true'}
	            				<li><a href="#" onclick="deconnexion('{$token}');"><i class="glyphicon glyphicon-off"></i> {$lang.logout}</a></li>
	            			{/if}
	            		</ul>
	            	</div>
            	</div>
			</nav>
		</header>
		<div id="result"></div>
		<div style="padding: 30px;"></div>
		<noscript>
			<div class="alert alert-danger">
				{$lang.javascriptAlert}
			</div>
		</noscript>