{include file="default/menu.html"}
	{if $siteconfig.registration eq 'none' && !isset($pseudo)}
		<div class="container">
			<div class="row">
				<div class="well">
					<h2><u>Envoyer un nouveau ticket</u></h2>
					<form method="post" id="new">
						<div class="form-group">
							<label for="email">Adresse Mail :</label>
							<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
							<input type="email" class="form-control" name="email" required="true" {if isset($getmail)}value="{$getmail}"{/if}/>
						</div>
						<div class="form-group">
							<label for="sujet">Sujet :</label>
							<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
							<input type="text" class="form-control" name="sujet" required="true" />
						</div>
						<div class="form-group">
							<label for="categorie">Catégorie :</label>
							<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
							<select name="categorie" class="form-control" required="true">
								{if !isset($categorie)}
								<option>-- Choisir une option --</option>
								{else}
									<option value="{$categorie.id}">{$categorie.nom}</option>
								{/if}

								{foreach from=$cat item=categ}
									<option value="{$categ.id}">{$categ.nom}</option>
								{/foreach}
							</select>
						</div>
						<div class="form-group">
							<label for="message">Message :</label>
							<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
							<textarea class="tiny" name="message"></textarea>
						</div>
						{if $siteconfig.recaptcha eq "e"}
						<div class="form-group">
							<label for="captcha">Captcha :</label>
							<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
							<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={$siteconfig.recaptcha_key}"></script>
				        	<noscript>
				            	<iframe src="http://www.google.com/recaptcha/api/noscript?k={$siteconfig.recaptcha_key}" height="300" width="500" frameborder="0"></iframe><br>
				             	<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
				            	<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
				        	</noscript>
						</div>
						{/if}
						<input type="submit" class="btn btn-lg btn-block btn-primary" value="Envoyer" />
					</form>
				</div>
			</div>
		</div>
	{elseif $siteconfig.registration eq 'force' || isset($pseudo)}
	<div class="container">
		<div class="row">
			<div class="well">
				<h2><u>Envoyer un nouveau ticket</u></h2>
				<form method="post" id="new">
					<div class="form-group">
						<label for="sujet">Sujet :</label>
						<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
						<input type="text" class="form-control" name="sujet" required="true" />
					</div>
					<div class="form-group">
						<label for="categorie">Catégorie :</label>
						<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
						<select name="categorie" class="form-control" required="true">
							{if !isset($categorie)}
								<option>-- Choisir une option --</option>
							{else}
								<option value="{$categorie.id}">{$categorie.nom}</option>
							{/if}

							{foreach from=$cat item=categ}
								<option value="{$categ.id}">{$categ.nom}</option>
							{/foreach}
						</select>
					</div>
					<div class="form-group">
						<label for="message">Message :</label>
						<span style="color: red;" class="glyphicon glyphicon-asterisk"></span>
						<textarea class="tiny" name="message"></textarea>
					</div>
					<input type="submit" class="btn btn-lg btn-block btn-primary" value="Envoyer" />
				</form>
			</div>
			{if $perm.lastresolved eq '1' || $perm.viewticket eq '1'}
				<div class="well" style="text-align: center">
					{if $perm.lastresolved eq '1'}
						<a href="./resolved.php" class="btn btn-success">Voir les tickets déjà résolues</a>
					{/if}
					{if $perm.viewticket eq '1'}
						<a href="./viwe.php" class="btn btn-default">Voir les tickets en cours</a>
					{/if}
				</div>
			{/if}
		</div>
	</div>
	{else}
	<div class="alert alert-danger">
		<b>Erreur :</b> Une erreur interne du serveur à été détéctez !
	</div>
	{/if}
{include file="default/footer.html"}