<ul id="steps" class="steps">
	<li id="stepDesc0">&Eacute;tape 1<span>Réglage de la base de données</span></li>
	<li id="stepDesc1">&Eacute;tape 2<span>Réglage du site</span></li>
	<li id="stepDesc2">&Eacute;tape 3<span>Création du compte administrateur</span></li>
	<li id="stepDesc3" class="current">&Eacute;tape 4<span>Fin !</span></li>
</ul>

<div class="progress">
	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		<span class="sr-only">100% Complete</span>
	</div>
</div>

<div class="text-center">
	<p>Félicitation Support Me est installé ! Vous pouvez maintenant vous y connecter !</p>
	<p style="color:red">Pensez à supprimer ou renommer le dossier "install" sinon quelqu'un pourrait réinstaller votre support sans votre consentement !</p>
	<a href="../" class="btn btn-default">Accéder à votre support</a>
</div>