body{
	padding-top: 70px;
}

#login-dp{
	min-width: 250px;
	padding: 14px 14px 0;
	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
	font-size:12px;
}
#login-dp .bottom{
	background-color:rgba(255,255,255,.8);
	border-top:1px solid #ddd;
	clear:both;
	padding:14px;
}
#login-dp .form-group {
	margin-bottom: 10px;
}
.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc 
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}
@media(max-width:768px){
	#login-dp{
		background-color: inherit;
		color: #fff;

	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}

.homeLink{
	color: #333;
}

.footer {
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	padding: 15px;
}

input{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-inline>input{
	margin-top: 0px;
	margin-bottom: 0px;
}

$progress-width: 400px;
$markee-width: 20%;

.progress {
  width: $progress-width;
  height: 7px;
  background-color: #DDD;
  position: relative;
  
  .markee {
    position: absolute;
    background-color: limegreen;
    width: $markee-width;
    height: 100%;
    border-radius: inherit;
    animation: markee-progress 3s linear infinite alternate;
  }
 }
 
 @keyframes markee-progress {
  from {
    left: 0%;
  }

  to {
    left: 100% - $markee-width;
  }
}

th {
	cursor: pointer;
}

th.headerSortUp:before {
	content: '\f0dd';
	font-family: FontAwesome;
}

th.headerSortDown:before {
	content: '\f0de';
	font-family: FontAwesome;
}

th.header:not(.headerSortDown):not(.headerSortUp):before{
	content: '\f0dc';
	font-family: FontAwesome;
}