body {
  padding-top: 70px;
}

#login-dp {
  overflow: hidden;
  min-width: 250px;
  padding: 14px 14px 0;

  background-color: rgba(255,255,255,.8);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  clear: both;
  padding: 14px;

  border-top: 1px solid #DDDDDD;
  background-color: rgba(255,255,255,.8);
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: #FFFFFF;
  background-color: #3B5998;
}
.btn-fb:hover {
  color: #FFFFFF;
  background-color: #496EBC;
}
.btn-tw {
  color: #FFFFFF;
  background-color: #55ACEE;
}
.btn-tw:hover {
  color: #FFFFFF;
  background-color: #59B5FA;
}
@media(max-width:768px) {
  #login-dp {
    color: #FFFFFF;
    background-color: inherit;
  }
  #login-dp .bottom {
    border-top: 0 none;
    background-color: inherit;
  }
}

.homeLink {
  color: #333333;
}

.footer {
  width: 100%;
  height: 60px;
  padding: 15px;

  background-color: #F5F5F5;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-inline > input {
  margin-top: 0;
  margin-bottom: 0;
}

$progress-width: 400px;
$markee-width: 20%;

.progress {
  width: $progress-width;
  height: 7px;
  background-color: #DDD;
  position: relative;
  
  .markee {
    position: absolute;
    background-color: limegreen;
    width: $markee-width;
    height: 100%;
    border-radius: inherit;
    animation: markee-progress 3s linear infinite alternate;
  }
 }

@keyframes markee-progress {
  from {
    left: 0;
  }

  to {
    left: 100% - $markee-width;
  }
}

th {
  cursor: pointer;
}

th.headerSortUp:before {
  font-family: FontAwesome;

  content: '\f0dd';
}

th.headerSortDown:before {
  font-family: FontAwesome;

  content: '\f0de';
}

th.header:not(.headerSortDown):not(.headerSortUp):before {
  font-family: FontAwesome;

  content: '\f0dc';
}

.nodisplay {
  display: none;
}
