{include file="menu.html"}
	<div class="col-md-10">
		{if !empty($alert)}
			{if $alert eq "assignok"}
				<div class="alert alert-success">Le ticket à été assigné !</div>
			{elseif $alert eq "unassignok"}
				<div class="alert alert-success">Le ticket à été désassigné !</div>
			{elseif $alert eq "configok"}
				<div class="alert alert-success">Votre configuration a été modifié !</div>
			{elseif $alert eq "notfound"}
				<div class="alert alert-danger">Le ticket n'existe pas</div>
			{elseif $alert eq "notperm"}
				<div class="alert alert-danger">Vous n'avez pas la permission requise !</div>
			{elseif $alert eq "token"}
				<div class="alert alert-danger">Token invalide ou innexistant !</div>
			{elseif $alert eq "erreur"}
				<div class="alert alert-danger">Erreur</div>
			{elseif $alert eq "emptyValues"}
				<div class="alert alert-danger">Un des champs de la configuration n'a pas été remplis, vérifié puis réésayé.</div>
			{elseif $alert eq "registrationBroken"}
				<div class="alert alert-danger">Le champs "Inscription" a été modifié pour un format non-autorisé, vérifié puis réésayé.</div>
			{elseif $alert eq "faqBroken"}
				<div class="alert alert-danger">Le champs "FAQ" a été modifié pour un format non-autorisé, vérifié puis réésayé.</div>
			{/if}
		{/if}
		<div class="jumbotron" style="text-align: center;">
			<h2>Bienvenue dans l'administration de {$config.sitename}</h2>
			{include file="alert.html"}
		</div>
		{if $perm.viewticket eq '1'}
		<div class="panel panel-default">
			<div class="panel-heading">Liste des tickets</div>
			<div id="ticket"></div>
			{if $perm.lastresolved eq '1'}
			<hr />
			<div class="panel-body" style="text-align: center;">
				<div class="btn-group">
					{if $perm.lastresolved eq '1'}
						<a href="./resolved.php" class="btn btn-success">Voir les tickets résolus</a>
					{/if}
					{if $perm.viewNotAssignToMe eq '1'}
						<a href="./assign.php" class="btn btn-info">Voir les tickets qui ne me sont pas assigné</a>
					{/if}
				</div>
			</div>
			{/if}
		</div>
		{/if}
		{if $perm.config eq "1"}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Configuration</div>
				<div class="panel-body">
					<form method="post" action="./index.php?option=config&token={$token}">
						<div class="form-group">
							<label>Nom du support :</label>
							<input type="text" name="sitename" value="{$config.sitename}" required="true" class="form-control" />
						</div>
						<div class="form-group">
							<label>Inscription :</label>
							<select name="registration" class="form-control">
								{if $config.registration eq 'none'}
								<option value="none">Pas obligatoire</option>
								<option value="force">Obligatoire</option>
								{else}
								<option value="force">Obligatoire</option>
								<option value="none">Pas obligatoire</option>
								{/if}
							</select>
						</div>
						<div class="form-group">
							<label>Système de FAQ :</label>
							<select name="faq" class="form-control">
								{if $config.faq eq 'e'}
								<option value="e">Activé</option>
								<option value="d">Désactivé</option>
								{else}
								<option value="d">Désactivé</option>
								<option value="e">Activé</option>
								{/if}
							</select>
						</div>
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Modifier" />
					</form>
				</div>
			</div>
		</div>
		{/if}
		{if $perm.viewuser eq '1'}
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Les 3 derniers utilisateurs</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Rang</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						{foreach from=$listuser item=u}
						<tr>
							<td>{$u.id}</td>
							<td>{$u.pseudo}</td>
							<td>{$u.email}</td>
							<td>{$u.rang}</td>
							<td>
								<div class="btn-group">
									{if $perm.modifUsers eq '1'}
										<a href="./users.php?uid={$u.id}" class="btn btn-info">Modifier</a>
									{/if}
									{if $perm.deleteUsers eq '1'}
										<a href="./users.php?action=delete&uid={$u.id}&token={$token}" class="btn btn-danger">Supprimer</a>
									{/if}
								</div>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
				<div class="panel-body">
					<a href="./users.php" class="btn btn-block btn-lg btn-info">Voir les autres</a>
				</div>
			</div>
		</div>
		{/if}
	</div>
<script>
	setInterval( function(){ $( "#ticket" ).load("requete.php?action=listticket"); }, 1000);
</script>
{include file="footer.html"}