{include file="menu.html"}
	<div class="col-md-10">
		{include file="alert.html"}
		{if isset($retour)}
			{if $retour eq "token"}
				<div class="alert alert-danger">Token invalide ou innexistant !</div>
			{elseif $retour eq "ok"}
				<div class="alert alert-success">Vous avez modifié un rang !</div>
			{/if}
		{/if}
		<div class="panel panel-default">
			<div class="panel-heading">Modifier le rang <b>{$pinf.nom|escape:'html'}</b></div>
			<div class="panel-body">
				<form method="post" action="./permissions.php?pid={$pinf.id}&token={$token}">
					<div class="form-group">
						<label>Nom du rang :</label>
						<input type="text" name="nom" required="true" value="{$pinf.nom|escape:'html'}" class="form-control" /> 
					</div>
					<div class="form-group">
						<label>Peut envoyer des tickets ? <a href="#info" class="label label-info">info</a> :</label>
						<select name="sendticket" class="form-control">
							{if $pinf.sendticket eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.sendticket eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir la FAQ (Foire aux questions) ? <a href="#info" class="label label-info">info</a> :</label>
						<select name="viewfaq" class="form-control">
							{if $pinf.viewfaq eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.viewfaq eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir le lien vers l'administration ? <a href="#info" class="label label-info">info</a> :</label>
						<select name="viewLinkAdmin" class="form-control">
							{if $pinf.viewLinkAdmin eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.viewLinkAdmin eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir les tickets ? <a href="#info" class="label label-warning">info</a> :</label>
						<select name="viewticket" class="form-control">
							{if $pinf.viewticket eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.viewticket eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut marquer comme résolue les tickets ? <a href="#info" class="label label-warning">info</a> :</label>
						<select name="resolve" class="form-control">
							{if $pinf.resolve eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.resolve eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir les dernier tickets résolue ? <a href="#info" class="label label-warning">info</a> :</label>
						<select name="lastresolved" class="form-control">
							{if $pinf.lastresolved eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.lastresolved eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut commenter les tickets ? <a href="#info" class="label label-warning">info</a> :</label>
						<select name="comment" class="form-control">
							{if $pinf.comment eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.comment eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir les tickets qui ne lui sont pas assigné ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="viewNotAssignToMe" class="form-control">
							{if $pinf.viewNotAssignToMe eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.viewNotAssignToMe eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir les tickets qui ne sont pas assigné ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="ViewNotAssigned" class="form-control">
							{if $pinf.ViewNotAssigned eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.ViewNotAssigned eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut réouvrir les tickets ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="reopen" class="form-control">
							{if $pinf.reopen eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.reopen eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut accèder à l'administration ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="accessAdmin" class="form-control">
							{if $pinf.accessAdmin eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.accessAdmin eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut voir les utilisateurs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="viewuser" class="form-control">
							{if $pinf.viewuser eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.viewuser eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut supprimé les tickets ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="deleteticket" class="form-control">
							{if $pinf.deleteticket eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.deleteticket eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut modifié le thème ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="modiftheme" class="form-control">
							{if $pinf.modiftheme eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.modiftheme eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut assigné des tickets ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="canAssign" class="form-control">
							{if $pinf.canAssign eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.canAssign eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut desassigné des tickets ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="canUnAssign" class="form-control">
							{if $pinf.canUnAssign eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.canUnAssign eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut modifier la configuration générale ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="config" class="form-control">
							{if $pinf.config eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.config eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut supprimer des utilisateurs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="deleteUsers" class="form-control">
							{if $pinf.deleteUsers eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.deleteUsers eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut modifier les utilisateurs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="modifUsers" class="form-control">
							{if $pinf.modifUsers eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.modifUsers eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut modifier le mot de passe des utilisateurs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="modifUsersPassword" class="form-control">
							{if $pinf.modifUsersPassword eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.modifUsersPassword eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut modifier le rang des utilisateurs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="modifUsersRang" class="form-control">
							{if $pinf.modifUsersRang eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.modifUsersRang eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut modifier la protection de compte des utilisateurs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="modifUsersProtect" class="form-control">
							{if $pinf.modifUsersProtect eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.modifUsersProtect eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
						<small>La protection de compte permet d'empêcher un compe de se faire supprimer</small>
					</div>
					<div class="form-group">
						<label>Peut modifier les rangs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="modifPerms" class="form-control">
							{if $pinf.modifPerms eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.modifPerms eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut supprimer des rangs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="deletePerms" class="form-control">
							{if $pinf.deletePerms eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.deletePerms eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut ajouter des rangs ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="addNewPerm" class="form-control">
							{if $pinf.addNewPerm eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.addNewPerm eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<div class="form-group">
						<label>Peut grer les catégories ? <a href="#info" class="label label-danger">info</a> :</label>
						<select name="Categories" class="form-control">
							{if $pinf.Categories eq '1'}
								<option value="1">Oui</option>
								<option value="0">Non</option>
							{elseif $pinf.Categories eq '0'}
								<option value="0">Non</option>
								<option value="1">Oui</option>
							{/if}
						</select>
					</div>
					<input type="submit" class="btn btn-primary btn-lg btn-block" value="Ajouter" />
				</form>
			</div>
		</div>
		<div class="well" id="info">
			<ul>
				<li>
					<span class="label label-info">info</span> : Cible seulement les actions possible en dehors de l'administration
				</li>
				<li>
					<span class="label label-warning">info</span> : Cible les actions possible en dehors de l'administration et dans l'administration
				</li>
				<li>
					<span class="label label-danger">info</span> : Cible seulement les actions possible dans l'administration
				</li>
			</ul>
		</div>
	</div>
{include file="footer.html"}