{include file="menu.html"}
	<div class="col-md-10">
		{include file="alert.html"}
		{if isset($retour)}
			{if $retour eq "token"}
				<div class="alert alert-danger">Token invalide ou innexistant !</div>
			{elseif $retour eq "notperm"}
				<div class="alert alert-danger">Vous n'avez pas la permission de supprimer les permissions !</div>
			{elseif $retour eq "cantDelete"}
				<div class="alert alert-danger">Vous ne pouvez pas supprimer cette permission !</div>
			{elseif $retour eq "ok"}
				<div class="alert alert-success">La permission à été supprimé !</div>
			{/if}
		{/if}
		<div class="panel panel-default">
			<div class="panel-heading">Gérer les rangs</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Peux accéder à l'administration ?</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$permissions item=p}
						<tr>
							<td>{$p.id}</td>
							<td>{$p.nom}</td>
							<td>
								{if $p.accessAdmin eq "0"}
									<label class="label label-danger">Non</label>
								{elseif $p.accessAdmin eq "1"}
									<label class="label label-success">Oui</label>
								{/if}
							</td>
							<td>
								<div class="btn-group">
									<a href="./permissions.php?pid={$p.id}" class="btn btn-info">Modifier</a>
									{if $perm.deletePerms eq "1"}
										{if $p.id neq '1' && $p.id neq '2'}
											<a href="./permissions.php?option=delete&pid={$p.id}&token={$token}" class="btn btn-danger">Supprimer</a>
										{/if}
									{/if}
								</div>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			{if $perm.addNewPerm eq "1"}
			<div class="panel-body">
				<a href="./permissions.php?action=new" class="btn btn-primary btn-lg btn-block">Nouvel permission</a>
			</div>
			{/if}
		</div>
	</div>
{include file="footer.html"}