{include file="menu.html"}
	<div class="col-md-10">
		{include file="alert.html"}
		{if !empty($erreur)}
			{if $erreur eq 'token'}
				<div class="alert alert-danger"><b>Erreur :</b> Token invalide ou innexistant.</div>
			{elseif $erreur eq 'foldernotfound'}
				<div class="alert alert-danger"><b>Erreur :</b> Le thème n'existe pas !</div>
			{elseif $erreur eq 'versionnotfound'}
				<div class="alert alert-danger"><b>Erreur :</b> Le fichier version du thème n'existe pas !</div>
			{elseif $erreur eq 'okupd'}
				<div class="alert alert-success">Votre thème a été modifié !</div>
			{elseif $erreur eq 'delok'}
				<div class="alert alert-success">Le thème a été correctement supprimé !</div>
			{/if}
		{/if}
		<div class="panel panel-default">
			<div class="panel-heading">Liste des thèmes</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Auteur</th>
						<th>Version</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$listfiles item=f}
						<tr {if $f.verif eq $t.template}class="success"{/if}>
							<td>{$f.nom}</td>
							<td>
								{if !empty($f.auteur)}
									{if !empty($f.siteautor)}
										<a href="{$f.siteautor}" target="_blank">{$f.auteur}</a>
									{else}
										{$f.auteur}
									{/if}
								{else}
									Inconnue
								{/if}
							</td>
							<td>
								{$f.version}
								{if $f.updver neq $f.version}
									(<a href="{$f.download}" target="_blank">La nouvelle version {$f.updver} est disponible</a>)
								{/if}
							</td>
							<td>
								<div class="btn-group">
									{if $f.verif neq $t.template}
										<a href="./theme.php?use={$f.folder}&token={$token}" class="btn btn-success">Utiliser</a>
										<a href="./theme.php?del={$f.folder}&token={$token}" class="btn btn-danger">Supprimer</a>
									{else}
										Aucune option possible
									{/if}
								</div>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div style="text-align:center; padding-top: 10px;"><a href="" class="btn btn-primary btn-block btn-lg">Plus de thèmes</a></div>
		</div>
	</div>
{include file="footer.html"}