{include file="menu.html"}
	<div class="col-md-10">
		{include file="alert.html"}
		{if isset($retour)}
			{if $retour eq 'emptyid'}
				<div class="alert alert-danger">Aucun ticket choisis !</div>
			{elseif $retour eq 'notexist'}
				<div class="alert alert-danger">Le ticket n'existe pas !</div>
			{/if}
		{/if}
		<div class="well">
			Sujet : {$info.sujet|escape: 'html'}<br />
			Catégorie : {$categorie}<br />
			Auteur : {$auteur|escape: 'html'}<br />
			Date d'ouverture : {$date}<br />
			<span id="etat"></span><br />
			Message :
			<div class="well">
				{$message}
			</div>
			<div  class="btn-group">
				{if $perm.canAssign eq '1' && $info.assignto neq $pseudo}
					<a href="./index.php?option=assign&tid={$info.id}&to={$pseudo}&token={$token}" class="btn btn-warning"> Me l'assigner</a>
				{/if}
				{if $perm.canUnAssign eq '1' && $info.assignto eq $pseudo}
					<a href="./index.php?option=unassign&tid={$info.id}&token={$token}" class="btn btn-warning"> Désassigner</a>
				{/if}
				{if $perm.resolve eq '1'}
					<a href="#" onclick="clore('{$info.id}', '{$token}')" class="btn btn-success">Clore</a>
				{/if}
				{if $perm.deleteticket eq '1'}
					<a href="#" onclick="deleteTicket('{$info.id}', '{$token}')" class="btn btn-danger">Supprimer</a>
				{/if}
			</div>
		</div>
		<div id="resultcom"></div>
		{if $perm.comment eq '1' && $info.etat != '2' && $info.isfaq != '1'}
			<div class="well">
				<form method="post" id="commentaire">
					<div class="form-group">
							<textarea name="commentaire" class="tiny"></textarea>
					</div>
					<div class="form-group">
						<input type="checkbox" name="mail" checked="true" /> Envoyé un mail à l'utilisateur pour l'avertir de la réponse.
					</div>
					<input type="submit" class="btn btn-primary btn-lg btn-block" value="Envoyer" />
				</form>
			</div>
		{/if}
		<div id="com"></div>
		<script>
			function etat()
				{
					$( "#etat" ).load("./requete.php?action=etat&id={$info.id}");
				}
			function com()
				{
					$( "#com" ).load("./requete.php?action=commentaire&id={$info.id}");
				}
			setInterval(etat, 1000);
			setInterval(com, 1000);
			$("#commentaire").submit(function () {
	            tinyMCE.triggerSave();
	            $.post("./requete.php?action=commenter&id={$info.id}",$("#commentaire").serialize(),function(texte){
	                $("div#resultcom").append(texte).slideDown("slow");
	                $("div#resultcom").delay(4000).slideUp("slow");
	                $(".alrt").delay(5000).hide("slow");
	            });
	            return false; // ne change pas de page
	    	});
		</script>
	</div>
{include file="footer.html"}