{include file="menu.html"}
<div class="col-md-10">
	{include file="alert.html"}
	<div class="panel panel-default">
		<div class="panel-heading">
			{if !empty($page)}
				{if $page eq 'resolved'}
					Tickets résolus
				{elseif $page eq 'notassignedtome'}
					Tickets assigné à quelqu'un d'autre
				{/if}
			{/if}
		</div>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>#</th>
					<th>Auteur</th>
					<th>Sujet</th>
					<th>Date</th>
					<th>Categorie</th>
					<th>Assigné</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody>
				{foreach from=$list item=l}
					<tr>
						<td>{$l.id}</td>
						<td>{$l.auteur}</td>
						<td>{$l.sujet}</td>
						<td>{$l.date}</td>
						<td>{$l.categorie}</td>
						<td>
							{if $l.assigned eq '0'}
								Le ticket n'est pas assigné !
							{else}
								{$l.assignto}
							{/if}
							{if $l.isfaq eq '1'}
								<br /><label class="label label-success">Le ticket est une faq</label>
							{/if}
						</td>
						<td>
							<div class="btn-group">
								<a href="./ticket.php?tid={$l.id}" class="btn btn-info">Voir</a>
								{if $page eq 'notassignedtome'}
									{if $perm.canAssign eq '1' && $l.assignto neq $pseudo}
										<a href="./index.php?option=assign&tid={$l.id}&to={$pseudo}&token={$token}" class="btn btn-warning"> Me l'assigner</a>
									{/if}
									{if $perm.canUnAssign eq '1' && $l.assignto eq $pseudo}
										<a href="./index.php?option=unassign&tid={$l.id}&token={$token}" class="btn btn-warning"> Désassigner</a>
									{/if}
									{if $perm.resolve eq '1'}
										<a href="#" onclick="clore('{$l.id}', '{$token}')" class="btn btn-success">Clore</a>
									{/if}
								{/if}
								{if $perm.deleteticket eq '1'}
									<a href="#" onclick="deleteTicket('{$l.id}', '{$token}')" class="btn btn-danger">Supprimer</a>
								{/if}
							</div>
						</td>
					</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
</div>
{include file="footer.html"}