{include file="menu.html"}
	<div class="col-md-10">
		{include file="alert.html"}
		{if isset($retour)}
			{if $retour eq "token"}
				<div class="alert alert-danger">Token invalide ou innexistant !</div>
			{elseif $retour eq "ok"}
				<div class="alert alert-success">Vous avez modifier le profil de <b>{$infoPseudo}</b></div>
			{/if}
		{/if}
		<div class="well">
			<form method="post" action="./users.php?uid={$info.id}&token={$token}">
				<h2>Modifier le profil de <b>{$infoPseudo}</b></h2>
				<div class="form-group">
					<label>Pseudo:</label>
					<input type="text" name="pseudo" required="true" class="form-control" value="{$infoPseudo}" />
				</div>
				{if $perm.modifUsersPassword eq '1'}
				<div class="form-group">
					<label>Mot de Passe:</label>
					<input type="password" name="password" class="form-control" placeholder="Laissez vide pour ne pas modifier" />
				</div>
				{/if}
				<div class="form-group">
					<label>Adresse E-Mail:</label>
					<input type="email" name="email" class="form-control" value="{$info.email}" />
				</div>
				{if $perm.modifUsersRang eq '1'}
				<div class="form-group">
					<label>Rang:</label>
					<select name="rang" class="form-control">
						<option value="{$info.permission}">{$infoPermUser.nom}</option>
						{foreach from=$lrang item=rang}
							{if $rang.id neq $info.permission}
								<option value="{$rang.id}">{$rang.nom}</option>
							{/if}
						{/foreach}
					</select>
					<a href="./permissions.php">Modifier les permissions</a>
				</div>
				{/if}
				{if $perm.modifUsersProtect eq '1'}
				<div class="form-group">
					<label>Compte protégé ?</label>
					<select name="protected" class="form-control">
						{if $info.protected eq '1'}
							<option value="1"> Oui </option>
							<option value="0"> Non </option>
						{else}
							<option value="0"> Non </option>
							<option value="1"> Oui </option>
						{/if}
					</select>
				</div>
				{/if}
				<input type="submit" class="btn btn-primary btn-lg btn-block" value="Modifier" />
			</form><br />
			<a href="javascript:history.back(1)" class="btn btn-default btn-lg btn-block">Retour en arrière</a>
		</div>
	</div>
{include file="footer.html"}